body{
    background-color: #EBEBEB;
  }
  
  
  img{
      width: 100%;
      /* padding-top: 10%; */
  }

  h3{
    color: #ffffff;
  }

  .about, .re-question, .interview-q, .ideation{
    background-color: black;
    /* background-color: #D71516; */
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
  }

  .ideation aside{
    color: #D71516;
  }

  .intro, .q1, .q2, .q3, .insight{
    border: 2px solid #D71516;
    padding: 1rem;
  }

  .intro, .people1, .people2, .people3, .people4{
    background-color: black;
    color: white;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 1rem;
  }

  .q1, .q2, .q3, .insight{
    background-color: white;
    margin-top: 1rem;
    border-radius: 10px;
  }

  .timeline, .hmw{
    background-color: white;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
  }

  .hmw{
    color: #D71516;
    font-style: bold;
  }

  .inter-q1, .inter-q2{
    background-color:white;
    /* color: white; */
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
  }

  

@media (min-width:1440px) {
 

  h1{
    font-size: 3rem;
  }

  h2{
    font-size: 2.5rem;
  }

  h3{
    font-size: 2rem;
  }

  .doc h3{
    color: #D71516;
  }

  p, li{
    font-size: 1.2rem;
  }

  .about{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; */
    padding: 5rem;
  }

  .intro{
    grid-column: 1;
    /* margin: 5rem; */
    padding: 2rem;
    text-align: center;
  }

  .intro aside h1, .timeline aside  h1{
    margin: 0;
  }

  .timeline{
    /* margin: 5rem; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    /* margin-left: 2rem;
    margin-top: 0; */
  }


  .time-r{
    grid-column: 1;
  }

  .time-i{
    grid-column: 2;
  }

  aside{
    margin: 0;
  }

  .audit, .re-question, .interview-q, .prd{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .people1, .people2, .people3, .people4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .people-intro{

    grid-column: 1;
  }

  .people-intro h3{
    margin-left: 5rem;
    margin-top: 0;
  }

  .people-intro blockquote{
    font-size: 1.5rem;
    margin-left: 5rem;
    color: #D71516;
    font-weight: 500;
  }
  .people-ex h4, .people-re h4{
    font-size: 1.5rem;
    margin-left: 0;
  }

  .people-ex, .people-re{
    margin-top: .7rem;
    padding: 2rem;
  }


  .people-img{
    width:50%;
  }

  .ideation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .ideation aside{
    grid-column: 1/span 3;
    grid-row: 1;
  }

  .insight {
    grid-column: 1/span 3;
    grid-row: 2;
  }

  .sketch{
    grid-column: 1;
    grid-row: 3;
  }

  .sketch h2{
    color: #ffffff;
    font-size: 2rem;
  }

  .hmw{
    grid-column: 2/span 3;
    grid-row: 3;
    margin: 2rem;
    padding: 3rem;
  }


  .audit1, .aim, .userflow{
    grid-column: 1;
    padding: 2rem;
  }

  .audit2, .map, .wire-img1, .wire-img2, .wire-img3, .high-fi{
    padding: 2rem;
  }

  .q1, .q2, .q3, .inter-q1, .inter-q2, .peopele1, .peopele2, .peopele3, .peopele4{
    padding: 2rem;
    margin: 2rem;
  }

  .q1, .inter-q1, .peopele1{
    grid-column: 1;
    
  }
  .q2{
    grid-column: 2;
    grid-row: 2/span 3;
  }

  .insight{
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .people-img{
    padding: 5rem;
  }

  


 

}