h1{
    font-size: 4rem;
}

.question{
    padding-left: 2rem;
    padding-right: 2rem;
}

.quest1 h1{
    color: #F6F509;
    padding-top: 2rem;
    text-align: left;
}

.quest{
    margin-top: 15rem;
    color: #F6F509;
    padding-bottom: 2rem;
}

.prompt, .time, .problem, .position{
    margin-top: 5rem;
}

.question, .pain, .work-t{
    background-color: black;
    text-align: center;
}

.painful h1{
    color: #F6F509;
    padding: 2rem;
    margin-bottom: 0;
    text-align: left;
}

.intro, .hmw{
    color: white;
    padding-bottom: 2rem;
}

.feat1-img1,.feat1-img2, .feat1-img3, .feat1-img4, .feat2-img1, .feat2-img2, .feat3-img1, .feat4-img1{
    margin-top: 2rem;
}