h1{
    font-size: 4rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

blockquote{
    font-size: 1.3rem;
    font-style: italic;
}

p{
    font-size: 1.5rem;
}

.question{
    padding-left: 2rem;
    padding-right: 2rem;
}

.quest1 h1{
    color: #F6F509;
    padding-top: 3rem;
    text-align: left;
}

.quest{
    margin-top: 15rem;
    color: #F6F509;
    padding-bottom: 2rem;
}

.prompt, .time, .problem, .position{
    margin-top: 5rem;
}

.question, .pain, .work-t, .position-t, .state-t{
    background-color: black;
    text-align: center;
}

.painful h1{
    margin-left: 4rem;
}

.painful h1, .work-t h1{
    color: #F6F509;
    padding: 2rem;
    margin-bottom: 0;
    text-align: left;
}

.position-t h1, .state-t h2{
    color: #F6F509;
    padding: 2rem;
    margin-bottom: 0;
    text-align: center;
}

.position-t h3{
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

.intro, .hmw{
    color: white;
    padding-bottom: 2rem;
}

.feat1-img1,.feat1-img2, .feat1-img3, .feat1-img4, .feat2-img1, .feat2-img2, .feat3-img1, .feat4-img1{
    margin-top: 2rem;
}

.team-img2, .team-img3, .team-img4, .team-img5{
    margin-top: 2rem;
}

@media (min-width:768px) {
    blockquote{
        font-size: 1.5rem;
    }
    .painful h1{
        margin-left: 15rem;
    }

    .quest1 h1{
        padding-top: 5rem;
        padding-left: 3rem;
    }
}

@media (min-width:1024px) {
    .painful h1 {
        margin-left: 20rem;
        font-size: 5rem;
    }

    .intro h2{
        font-size: 3rem;
    }

    blockquote{
        font-size: 1.7rem;
    }

    .team{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .team h2{
        grid-column: 1/span 2;
    }

    .team-img4{
        grid-column: 2;
        grid-row: 2/span 3;
        padding-left: 2rem;
        margin-top: 0;
    }

    .team-img5{
        grid-column: 2;
        grid-row: 3/span 4;
        margin-top: 16rem;
        padding-left: 2rem;
    }
}

@media (min-width:1440px) {

    h1{
        font-size: 7rem;
    }

    .problem{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .problem h2{
        grid-column: 1/ span 2;
    }

    .prob2, .prob4{
        padding-left: 2rem;
    }

    .prob1, .prob3{
        padding-right: 2rem;
    }

    .prob1-img{
        margin-top: 5rem;
    }

    .prob3, .prob4{
        margin-top: 3rem;
    }

    .prob3-img{
        margin-top: 3.1rem;
    }

    .painful h1 {
        margin-left: 30rem;
    }

    .intro h2{
        font-size: 5rem;
    }

    blockquote{
        font-size: 2.5rem;
    }

    .position-t h3{
        font-size: 3rem;
    }

    .feat-img, .feat2-img, .feat3-4, .work{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .feat1-img1, .feat1-img3, .feat2-img1, .feat3, .work1, .work3, .work5{
        padding-right: 2rem;
    }

    .feat1-img2, .feat1-img4, .feat2-img2, .feat4, .work2, .work4, .work6{
        padding-left: 2rem;
    }

    .work-t{
        grid-column: 1/span 2;
        margin-top: 5rem;
    }

    .work-t h1{
        margin: 0;
    }

    .work-img1{
        /* margin-top: 1rem; */
    }

    


    /* .prob2 h2, .prob4 h2{
        margin: 0;
    } */

    .team-img5{
        margin-top: 27rem;

    }
}